packaging_format = 2

id = "zwiicms"
name = "ZwiiCMS"
description.en = "Simple, lightweight, database-free, scalable and responsive CMS"
description.fr = "CMS simple, léger, sans base de données, modulable et responsive"

version = "13.8.00~ynh1"

maintainers = ["ewilly"]

[upstream]
license = " AGPL-3.0-or-later"
website = "https://zwiicms.fr/"
admindoc = ""
userdoc = "https://www.zwiicms.fr/prise-en-main"
code = "https://codeberg.org/fredtempez/ZwiiCMS"
fund = "https://ko-fi.com/T6T4FPG1A"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "800M"
ram.runtime = "50M"

[install]
	[install.domain]
	type = "domain"

	[install.path]
	type = "path"
	default = "/zwiicms"

	[install.init_main_permission]
	type = "group"
	default = "visitors"

	[install.language]
	ask.en = "Choose the application language"
	ask.fr = "Choisissez la langue de l'application"
	type = "select"
	choices = ["fr_FR", "es", "it", "pt_PT", "en_EN", "gr_GR"]
	default = "fr_FR"

	[install.admin]
	type = "user"

	[install.password]
    type = "password"
    
[resources]
	[resources.sources.main]
	url = "https://codeberg.org/fredtempez/ZwiiCMS/archive/13.8.00.tar.gz"
	sha256 = "62ff1c4687e90c860f8d91ef9e5c4ffcdc88e12bb796ca1e0cdeb1f91dd34cde"
	in_subdir = true
	autoupdate.strategy = "latest_forgejo_release"

	[resources.system_user]

	[resources.install_dir]
	group = "www-data:r-x"

	[resources.permissions]
	main.url = "/"

	[resources.apt]
	packages = "php8.3-mbstring, php8.3-zip, php8.3-gd, php8.3-xml, php8.3-intl"
